@model List<ServiceViewModel>

<a class="btn btn-success" asp-area="Admin"asp-controller="Service" asp-action="setservice">ایجاد</a>

<table class="table table-dark table-striped">
     <tr>
        <th>شناسه سرویس</th>
        <th>دسته بندی خدمات</th>
         <th>عنوان سرویس</th>
        <th>توضیحات</th>
         <th>قیمت پایه</th>        
        <th>عملیات</th>
    </tr>
 
    @foreach(var item in Model)
 {     
    <tr>
        <th>@item.ServiceId</th>
        <th>@item.CategoryTitle</th>
        <th>@item.Title</th>
        <th>@item.ShortDescription</th>
        <th>@item.Price</th>
             
        <th>
            <a class="btn btn-warning" asp-area="Admin"asp-controller="Service"asp-action="EditService"asp-route-id="@item.ServiceId">ویرایش</a>
            <a class="btn btn-danger"asp-area="Admin"asp-controller="Service"asp-action="DeleteService"asp-route-id="@item.ServiceId">حذف</a>
        </th>
    </tr>
}
</table>