@model List<AdminCommentViewModel>

<table class="table table-dark table-striped">
  
    <tr>
        <th>شناسه نظرات</th>
        <th>عنوان سرویس</th>
        <th>نظرات</th>
        <th>نام کاربری</th>
        <th>تاریخ ثبت </th>    
    </tr>
  
 
    @foreach(var item in Model)
 {     
    <tr>
        <th>@item.Id</th>
        <th>@item.ServiceTitle</th>       
        <th>@item.CommentText</th>       
        <th>@item.UserName</th>       
        <th>@item.CreateAt</th>       
       
    </tr>
}
</table>
